---
import { getCollection } from "astro:content";

import Page from "../layouts/page.astro";

const frontmatter = {
  title: "Tags",
};

// Collect sorted posts
const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf());
// Construct tag index
const tags = posts.reduce((tags, post) => {
  for (const tag of post.data.tags) {
    tags[tag] ||= [];
    tags[tag].push(post);
  }
  return tags;
}, {});
---

<Page {...frontmatter}>
  <section>
    {Object.entries(tags).map(([tag, posts]) => (
      <h3 id={tag}>
        <a class="anchor" rel="nofollow" href=`#${tag}`>{tag}</a>
      </h3>
      <ul class="blog">
        {posts.map(post => (
          <li class="post">
            <span class="date">{post.data.created.toLocaleDateString()}</span>
            <a href=`/blog/${post.slug}`>
              <span class="title" id={post.slug}>{post.data.title}</span>
            </a>
          </li>
        ))}
      </ul>
    ))}
  </section>
</Page>

<style>
  a.anchor {
    opacity: .5;
    transition: all .2s;

    :target &,
    &:is(:hover) {
      opacity: 1;
    }

    &::before {
      content: "#";
      padding: 0;
      opacity: 1;
      position: unset;
    }
  }

  .title[id]:not(:hover) {
    view-transition-name: none !important;
  }
</style>
