---
const { note } = Astro.props;

const { Content } = await note.render();

const date = new Date(1000 * Number.parseInt(note.slug, 16));
const tags = note.data.tags;

import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(relativeTime);
---

<article class="note" id={note.slug}>
  <header>
    <img class="user" src="/img/profile.png"/>
    <div class="info">
      <span class="name">@zakhary.dev</span>
      <time datetime={date.toISOString()} title={date}>
        {dayjs(date).fromNow()}
      </time>
    </div>
    {tags && (
      <div class="tags">
        <svg class="icon" viewBox="0 0 16 16" width="16" height="16">
          <use fill="currentColor" href="#icon:tags"></use>
        </svg>
        {tags.map(tag => (
          <a href=`/tags#${tag}`>#{tag}</a>
        ))}
      </div>
    )}
  </header>
  <section>
    <Content/>
  </section>
  <aside class="link">
    <a target="_self" href=`/note/${note.slug}`></a>
  </aside>
</article>

<style>
  article.note {
    counter-reset: sidenote;

    display: flex;
    flex-direction: column;
    gap: 1em;

    position: relative;

    box-sizing: border-box;
    block-size: fit-content;
    inline-size: 56ch;
    max-inline-size: 100%;

    margin: 0;

    border: 2px solid var(--darker);
    border-radius: 8px;
    box-shadow: 2.25px 3px var(--shadow);

    background: var(--darken);
    padding: 8px;

    header {
      display: flex;
      align-items: center;
      gap: 8px;

      img.user {
        aspect-ratio: 1;
        block-size: 32px;
        border-radius: 100%;
        object-fit: cover;
      }

      div.info {
        display: flex;
        flex-direction: column;

        span.name {
          font: 500 .8em var(--sans);
        }

        time {
          font: 200 .6em var(--sans);
        }
      }

      div.tags {
        display: inline-flex;
        gap: 4px;

        margin-inline-start: auto;
        font-size: .75em;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    section {
      border: inherit;
      border-width: 1px;
      border-radius: 4px;

      min-block-size: 2em;

      background: var(--backgd);
      padding: inherit;

      font-size: .9em;

      :first-child {
        margin-block-start: 0;
      }

      :last-child {
        margin-block-end: 0;
      }
    }

    aside.link {
      position: absolute;
      inset-block-end: 8px;
      inset-inline-end: 8px;

      border: 1px solid var(--darker);
      border-radius: 4px 0;

      background: var(--darken);

      font-size: .9em;

      a:hover {
        border-radius: 3px 0;
      }
    }
  }
</style>
