---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Navbar from "../components/navbar.astro";

import Icons from "../icons.svg?raw";

import { title as global } from "../global";

interface Props {
  title: string;
  about: string;
}

let { title, about } = Astro.props;

title = (title ?? global) === global ? global : `${title} | ${global}`;
---

<!DOCTYPE html>
<html lang="en-CA">

<head>
  <!-- Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="generator" content={Astro.generator}/>

  <!-- Document -->
  <title>{title}</title>
  <meta name="description" content={about}/>

  <!-- Resource -->
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.zakhary.dev/icons/comp.gray.png"/>
  <link rel="sitemap" type="application/xml" href="/sitemap-index.xml"/>
  <link rel="alternate" type="application/rss+xml" href="/blog/feed.xml"/>

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="https://cdn.zakhary.dev/style/latest/main.css"/>
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ddf2d1"/>
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#223b52"/>
</head>

<body>
  <Header/>

  <main>
    <Navbar/>
    <slot/>
  </main>

  <Footer/>

  <Fragment set:html={Icons} />
</body>

</html>

<style is:global>
  @import "../styles/markdown.css";

  main > nav {
    display: flex;
    justify-content: center;
  }

  span.title,
  article.note {
    &[id] {
      view-transition-name: auto;
      view-transition-name: attr(id type(<custom-ident>), none);
    }
  }

  article.post {
    header {
      border-block-end: 1px solid var(--border);
      padding-block: 1em;

      h1 {
        margin: 0;
      }
    }
  }

  ul.blog {
    li.post {
      time {
        font: .8em var(--mono);

        background: oklch(from var(--teal) l c h / .4);
        border-radius: 4px;
        padding: 0 2px;
      }

      .title {
        font: 1em var(--serif);
      }
    }
  }
</style>
